# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# uvproj files
*.iex
*.A51
*.LST
*.OBJ
hello_led
*.LST
*.MAP
hello_led.SBR
*.__i
*.lnp
*.plg
*.uvgui.Administrator
*.uvopt
*.uvproj
*.bak
output
